body {
    background-color: #33F0FF;
    
       
    
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #33B5FF;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: blue;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #33FFFC;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #33DAFF;
  color: blue;
}
